html
  head
    link(href="../css/scrapboot.css", rel="stylesheet")
    script(type="text/javascript", src="../jquery-1.9.1.min.js")
  body
    .scrapbook
      a.close x
      .rulesets
        h1 Existing Rulesets
        ul.ruleset-list
          li replace me with rule name
      button.btn.newRule New Rule
      form.ruleset-define-form(style="display: none;")
        input(type="text", name="name", placeholder="name")
        input(type="text", name="table", placeholder="factual table id (optional)")
        button.btn.addRule Add Rule
      a.next Next

      .ruleset-details
    script(type="text/javascript")
      function getPageHeight() {
        return $(document).height();
      }
      $(function() {
        var $root     = $('.scrapbook:first');
        var $newRule  = $root.find('.newRule:first');
        var $addRule  = $root.find('.addRule:first');
        var $ruleForm = $root.find('.ruleset-define-form:first');
        var $ruleList = $root.find('.ruleset-list:first');
        $root.height(getPageHeight());

        function clearForm() {
        }

        $newRule.click(function() {
          $newRule.hide();
          $('.ruleset-define-form:first').show();
        });

        $addRule.click(function(e) {
          e.preventDefault();

          $newRule.show();
          $ruleForm.fadeOut();
          $ruleList.append();
        });

      });
      
