html
  head
  body
    .scrapbook
      .rulesets
        h1 Existing Rulesets
        ul
          li replace me with rule name
        a.next Next
        input(type="text", placeholder="name")
        input(type="text", placeholder="factual table id (optional)")
      .ruleset
