!!!
html
  head
    link(rel="stylesheet",href="css/scrapboot.css")
    script(src="lib/jquery-1.9.1.min.js")
    script(src="options.js")
    title Scrapbook Options
  body
    .scrapbook
      .lead
        h2 Key / Secret Setting
      label Key:
      input.key
      label Secret:
      input.secret
      p
      button.btn.save Save
